{% extends 'MusicMBundle::layout.html.twig' %}
{# This must be intelligently generated #}
{% block body %}
	{{parent()}}
	<h1>
    	Hello! Hang with us as we complete the site and make it look more pretty :)
    </h1>
{% endblock %}